* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: cursive;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("☺"), url("../fonts/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome-webfont.ttf") format("truetype"),
    url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto-Regular";

  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
header .navbar {
  padding: 0.5rem 0;
}
header nav.navbar .navbar-brand {
  color: #fff;
}
section.todo-outer {
  width: 100%;
  float: left;
  padding: 30px 0;
}
section.todo-outer h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.todo-inner {
  width: 100%;
  border-radius: 17px;
  float: left;
  padding: 40px;
  box-shadow: 0px 0px 100px #cfc8c8;
  background: #fff;
}
table tr td button {
  background: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}

td {
  font-family: inherit;
}
